.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.layout > nav {
  display: flex;
  justify-content: center;
  background-color: rgb(229, 231, 235);
}

.layout > nav > ul {
  display: flex;
  color: rgb(17, 24, 39);
  list-style-type: none;
}

.btn {
  padding: 1rem 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
  border-bottom-width: 4px;
  border-color: transparent;
  background-color: rgb(229, 231, 235);

  /* display: block; */
}

button.btn:hover {
  color: rgb(75, 85, 99);
  border-bottom-color: rgb(55, 65, 81);
}

button.btn.active {
  color: rgb(17, 24, 39);
}

button.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-bottom-color: rgb(124, 58, 237);
}

/*  toast page styles  */

.toastLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  padding: 1rem;
  background-color: rgb(243, 244, 246);
}

.toast {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  margin-top: 0.5rem;
  background-color: rgb(243, 244, 246);
  border-width: 2px;
  border-color: rgb(39, 40, 41);
  box-shadow: 5px 2px 31px -19px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 2px 31px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 2px 31px -19px rgba(0, 0, 0, 0.75);
}

.square {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  background-color: rgb(124, 58, 237);
  margin-right: 0.5rem;
}

.toastContent {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
}
.toastTitle {
  display: flex;
  align-items: center;
}

/* form styles */

.formLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

input {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border-width: 2px;
  border-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 5px 4px 48px -15px rgb(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 4px 48px -15px rgb(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 4px 48px -15px rgb(0, 0, 0, 0.75);
}

input::placeholder {
  color: rgb(55, 65, 81, 0.5);
}

input:focus {
  /* border-width: 2px; */
  border-color: rgb(124, 58, 237);
}

.formBtn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-left: 1rem;
  font-weight: 600;
  color: white;
  background-color: rgb(124, 58, 237);
  border: 1px;
  border-radius: 0.5rem;
  box-shadow: 5px 4px 48px -15px rgb(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 4px 48px -15px rgb(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 4px 48px -15px rgb(0, 0, 0, 0.75);
}

.formBtn:hover {
  background-color: rgb(109, 40, 217);
}

.formBtn:active {
  background-color: rgb(124, 58, 237);
  /* color: */
}
